<div class="wrap">

  <div id="header">
    <h1>Fuel 4 Thought</h1>
  </div>
  <div id="mid">

    <div class="container1">

      <div class="card">
        <div class="card-header">
          Add Receipt
        </div>
      </div>

      <form id="receiptPic" action="/upload" method="POST" enctype="multipart/form-data">

        <div class="file-field input-field">

          <input name="myImage" type="file" class="btn  btn-primary btn-md">
          <div id="picField"> </div>
          <button type="submit" id="subButton" class="btn  btn-primary btn-md">Submit</button>
        </div>
      </form>


    </div>


    <div class="container2">

      <div class="card">
        <div class="card-header">
          <div class="dropdown">
            <button class="dropbtn">Sorted by Store</button>
            <div class="dropdown-content">
              <a href='/' id="btn-link">Recent Activity</a>
              <a href='/api/lowest' id="btn-link">Lowest Price</a>             
            </div>
          </div>
        </div>

        {{#each readings}}
        <div class="row">
          <div class="col-md-12 reading-container">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-6 reading readingPlace">Store: {{this.place}}</div>
                  <div class="col-6 reading readingPrice">Total: ${{this.price}}</div>
                  <div class="col-6 reading readingGallons">Gallons: {{this.gallons}}</div>
                  <div class="col-6 reading readingGallons">Price/Gal: ${{this.perGallon}}</div>
                  <div class="col-12 reading readingDate">{{this.createdAt}}</div>
                  <div class="col-12">
                    <button id="{{this.id}}" class="delete btn btn-xs btn-danger float-left">DELETE</button>
                    <button data-edit="{{this.id}}" class="edit btn btn-xs btn-info float-right">EDIT</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{/each}}
      </div>
    </div>

    <div class="container3">

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              Confirm Info
            </div>

            <div class="card-body">
              <form action="" method="POST" role="form">
                <div class="form-group">
                  <label for="">Store</label>
                  <input type="text" class="form-control" id="place" placeholder="">
                </div>
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" class="form-control" id="address" placeholder="">
                </div>
                <div class="form-group">
                  <label for="">Gallons</label>
                  <input type="number" class="form-control" id="gallons" placeholder="">
                </div>
                <div class="form-group">
                  <label for="">Total</label>
                  <input type="number" class="form-control" id="total" placeholder="">
                </div>
                <div class="form-group">
                  <label for="">Price/Gal</label>
                  <input type="number" class="form-control" id="perGallon" placeholder="">
                </div>
              </form>
              <br>
              <div class=>
                <button type="submit" class="btn btn-warning btn-md" id="edit-btn">
                  <span class="fa fa-book"></span>Edit Reading</button>
                <button type="submit" class="btn btn-primary btn-md" id="add-btn">
                  <span class="fa fa-book"></span>Add Reading</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <a href='/database' id="btn-link">Database</a>
    <a href='/api/pricePerGallon' class="linechart-btn" id="btn-link">Price\Gallon Chart</a>
    <a href='/api/expensePerMonth' class="barchart-btn" id="btn-link">Expense\Month Chart</a>  
  </div>
  <div class="chartArea">
    <canvas id="mChart"></canvas>
  </div>
</div>
